/*------plantilla de color------*/
$text: rgba(245,236,218, 1);
$shadow: rgba(215,188,178, 1);
$decor: rgba(154,100,123, 1);
$boxes: rgb(26, 2, 3);
$background: rgb(15, 7, 12);
$table: rgba(95, 81, 115, 0.3);

/*------variables de colores------*/
$textVar: rgba(245,236,218, 0.5);
$backgroundVar: rgba(31,0,17, 0.2);
$decorVar: rgba(154,100,123, 0.3);
$shadowVar: rgba(215,188,178, 0.1);